<button
    id="backToTopBtn"
    class="fixed bottom-8 right-8 bg-sky-900 text-white p-3 rounded-full shadow-lg opacity-0 transition-opacity duration-300 hover:bg-sky-700"
    aria-label="Back to top"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
</button>
<script>
    const backToTopBtn = document.getElementById(
        "backToTopBtn"
    ) as HTMLButtonElement;

    window.addEventListener("scroll", () => {
        if (window.scrollY > 300) {
            backToTopBtn.classList.remove("opacity-0");
            backToTopBtn.classList.add("opacity-100");
        } else {
            backToTopBtn.classList.remove("opacity-100");
            backToTopBtn.classList.add("opacity-0");
        }
    });

    backToTopBtn.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth",
        });
    });
</script>
