---
import { ROUTES } from "../utils/routes";

const { slug } = Astro.params;
const params = new URLSearchParams(Astro.url.search);
const redirectPage = params.get("p") || "1";
params.set("page", redirectPage);
params.delete("p");
const queryString = params.toString();
---

<a
    class="inline-block p-2 text-gray-600 hover:text-gray-800 transition-colors duration-200"
    href={`${ROUTES.OVERVIEW}${queryString ? `?${queryString}` : ""}${slug ? `#${slug}` : ""}`}
    aria-label="Back to overview"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
    </svg>
</a>
