---
type Props = {
    name: string;
    link: string;
};

const { name, link } = Astro.props;
---

<div class="max-sm:max-w-80">
    <a
        class="px-3 py-0.5 border rounded-full text-sm capitalize bg-gray-200 text-gray-900 hover:bg-blue-500 hover:text-white transition-colors duration-300 whitespace-nowrap"
        href={link}
    >
        {name}
    </a>
</div>
