---
import { Image } from "astro:assets";
import { OUR_BRAND } from "../utils/constants";
import logo from "../content/logo.png";
---

<header class="absolute z-10 left-4 top-4">
    <div
        class="sm:bg-opacity-90 sm:backdrop-blur-sm rounded-xl sm:px-2 sm:py-2 shadow-lg transition-all duration-300 hover:bg-white"
    >
        <a class="flex items-center" href="/">
            <Image
                class="w-12 h-12 object-contain"
                src={logo}
                alt=`${OUR_BRAND.NAME} Logo`
                width={150}
                height={150}
            />
        </a>
    </div>
</header>
