---
import { Image } from "astro:assets";
import { OUR_BRAND } from "../utils/constants";
import logo from "../content/logo.png";
---

<header class="px-24 py-12 max-sm:px-5 max-sm:py-7 max-w-7xl w-full mx-auto">
    <a class="flex items-center gap-x-4" href="/">
        <Image
            class="w-16"
            src={logo}
            alt=`${OUR_BRAND.NAME} Logo`
            width={150}
            height={150}
        />
        <p class="uppercase text-2xl font-bold text-sky-900">
            {OUR_BRAND.NAME}
        </p>
    </a>
</header>
