---
type Props = {
    page: number;
    totalPages: number;
    prefix?: string;
};

const { page, totalPages, prefix = "" } = Astro.props;

const hasPreviousProducts = page > 1;
const hasNextProducts = totalPages > page;
---

<div class="flex justify-between">
    {
        hasPreviousProducts && (
            <a
                class="bg-sky-900 text-white py-1 px-3 rounded-lg text-lg"
                href={`${prefix}?page=${page - 1}`}
            >
                ←
            </a>
        )
    }
    <div class="flex-grow"></div>
    {
        hasNextProducts && (
            <a
                class="bg-sky-900 text-white py-1 px-3 rounded-lg text-lg"
                href={`${prefix}?page=${page + 1}`}
            >
                →
            </a>
        )
    }
</div>
