---
type Props = {
    title: string;
};

const { title } = Astro.props;
---

<div class="flex flex-wrap items-center gap-4 mb-4">
    <h2 class="text-md font-semibold max-md:w-full w-28">
        {title}
    </h2>
    <slot />
</div>
